apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx-demo
  type: NodePort
  ports:
    - protocol: TCP
      port: 80 # service port
      targetPort: 80 # container port
      # nodePort: 30080  # optional fixed nodePort; omit to auto-assign
